body {
        font-family: Courier;
}

.image_container
{

    float: left;
    border: #ddff11 solid 0.1em;
    background-color: #ffff00;
}

.internal_image
{
    width: auto;
    height: auto;
}

.explain_text
{
    border: #e0ccd2 solid 0.1em;
    margin: 0.2em 3em 0.2em 3em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    float: left;
    font-size: 0.9em;
}


.small_text
{
    font-size: 0.7em;
    font-family: Helvetica;
}

.input_c
{
/*
    position: fixed;
    top: 2%;
    left: 5%;
    width: 45%;
    text-align: left;
*/
    background-color: #e0fdd2;
    border red solid 0.1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.feature_c
{
/*
    position: fixed;
    top: 2%;
    right: 5%;
    width: 45%;
    text-align: right;
*/
    background-color: #e0fdd2;
    border red solid 0.1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

#hiddenSwap_feature { display: none; }
#hiddenSwap_input { display: none; }
#dynamicSecretImage { display: none; }
#dynamicSecretText { display: none; }
#spaceDiv { padding: 4em; }

#linkImage { background-color: red; }
#linkText { background-color: blue; }

.hidden {
    display: none;
}
